:root {
    --lightblue: #7faec5;
    --green: #4ecd5d;
    --darkblue: #384b61;
    --body-font: 'Open Sans', sans-serif;
    --title-font: 'Raleway', sans-serif;
    --round-corners: 8px;
    --grey: #fafafa;
    --light-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
    --color-transition:  all 300ms ease 0s;
    --background-transition: background-color 400ms ease 0s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: var(--body-font);
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    height: 6rem;
    background-color: transparent;
    transition: var(--background-transition);
}

.sticky {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    box-shadow: var(--light-shadow);
    height: 6rem;
    background-color: #fff;
    transition: var(--background-transition);
}

.logo{
    display: flex;
    justify-content: center;
    margin: 0;
}

.logo img {
    width: 8rem;
}

/*Navbar*/
nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

nav li:last-child a:last-child {
    background-color: var(--green);
    border-radius: var(--round-corners);
    padding: 1rem;
    color: #fff;
    transition: 500ms ease-out;
}

nav li:last-child:hover a:last-child:hover {
    background: var(--darkblue);
}

nav a {
    text-decoration: none;
    color: var(--lightblue);
    transition: var(--color-transition);
    font-size: 1.6rem;
}

nav a:hover {
    color: var(--green);
}

section {
    width: 100%;
    height: 100vh;
}

#home {
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    margin-top: -6rem;

}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction h1 {
    font-size: 5rem;
    color: var(--darkblue);
    font-family: var(--title-font);
}

.introduction p {
    font-size: 2rem;
    color: var(--lightblue);
    font-family: var(--title-font);
    font-weight: 600;
}

.home-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.introduction a {
    display: flex;
    background-color: var(--green);
    border-radius: var(--round-corners);
    font-family: var(--title-font);
    color: #fff;
    transition: var(--color-transition);
    width: 10rem;
    height: 3rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.introduction a:hover {
    background: var(--darkblue);
}


@media  screen and (max-width: 700px) {
    nav {
        display: none;
    }

    .mobile-navbar-icon .bar
    {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        background: var(--darkblue);
        border-radius: 3px;
    }
}