:root {
    --lightblue: #7faec5;
    --green: #4ecd5d;
    --darkblue: #384b61;
    --p-color: #446867;
    --lightgrey: #919EA1;
    --body-font: 'Open Sans', sans-serif;
    --title-font: 'Raleway', sans-serif;
    --sharp-corners: 5px;
    --round-corners: 8px;
    --extra-round-corners: 20px;
    --grey: #fafafa;
    --light-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
    --article-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    --color-transition: all 300ms ease 0s;
    --background-transition: background-color 400ms ease 0s;
    --section-title: 3rem;
    --section-subtitle: 2rem;
    --small-subtitle: 1.8rem;
    --article-title: 2.5rem;
    --small-p: 1.3rem;
    --large-p: 1.5rem;
    --smaller-font-size: 1.2rem;
    --alinea: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: var(--body-font);
}

p {
    color: var(--p-color);
}

/* transparante navbar */
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    height: 6rem;
    background-color: transparent;
    transition: var(--background-transition);
    z-index: 99;
}

/* non-transparante navbar */
.solid {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    box-shadow: var(--light-shadow);
    height: 6rem;
    background-color: #fff;
    transition: var(--background-transition);
}

.logo{
    display: flex;
    justify-content: center;
    margin: 0;
}

.logo img {
    width: 8rem;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

/* contact button */
nav li:last-child a:last-child {
    background-color: var(--green);
    border-radius: var(--round-corners);
    padding: 1rem;
    color: #fff;
    transition: 500ms ease-out;
}

nav li:last-child:hover a:last-child:hover {
    background: var(--darkblue);
}

/* navbar links */
nav a {
    text-decoration: none;
    color: var(--lightblue);
    transition: var(--color-transition);
    font-size: var(--small-p);
}

nav a:hover {
    color: var(--green);
}

/* section neemt het gehele viewport in beslag */
section {
    width: 100%;
    height: 100vh;
}

section:nth-child(odd) {
    background-color: var(--grey);
}

/* landing page */
#home {
    display: flex;
    justify-content: center;
    margin-top: -6rem;
    /*wave pattern*/
    clip-path: polygon(100% 0%, 0% 0% , 0.00% 97.54%, 2.00% 97.47%, 4.00% 97.26%, 6.00% 96.92%, 8.00% 96.46%, 10.00%
    95.89%, 12.00% 95.22%, 14.00% 94.48%, 16.00% 93.67%, 18.00% 92.83%, 20.00% 91.98%, 22.00% 91.13%, 24.00% 90.32%,
    26.00% 89.56%, 28.00% 88.87%, 30.00% 88.28%, 32.00% 87.79%, 34.00% 87.42%, 36.00% 87.18%, 38.00% 87.08%, 40.00%
    87.12%, 42.00% 87.29%, 44.00% 87.60%, 46.00% 88.04%, 48.00% 88.59%, 50.00% 89.23%, 52.00% 89.96%, 54.00% 90.75%,
    56.00% 91.59%, 58.00% 92.44%, 60.00% 93.29%, 62.00% 94.11%, 64.00% 94.89%, 66.00% 95.59%, 68.00% 96.21%, 70.00%
    96.72%, 72.00% 97.12%, 74.00% 97.39%, 76.00% 97.52%, 78.00% 97.52%, 80.00% 97.37%, 82.00% 97.10%, 84.00% 96.69%,
    86.00% 96.17%, 88.00% 95.54%, 90.00% 94.83%, 92.00% 94.05%, 94.00% 93.22%, 96.00% 92.37%, 98.00% 91.52%, 100.00%
    90.69%);

}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction h1 {
    font-size: 5rem;
    color: var(--darkblue);
    font-family: var(--title-font);
}

.introduction h2 {
    font-size: 2rem;
    color: var(--lightblue);
    font-family: var(--title-font);
    font-weight: 600;
}

.home-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.introduction a {
    display: flex;
    transition: var(--color-transition);
    background-color: var(--green);
    border-radius: var(--round-corners);
    font-family: var(--title-font);
    color: #fff;
    width: 10rem;
    height: 3rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.introduction a:hover {
    background: var(--darkblue);
}

/* Welkom sectie */
#welkom {
    display: flex;
    padding: 100px;
    gap: 100px;
    justify-content: center;
}

#welkom img {

}

#welkom h2 {
    font-size: var(--section-title);
    color: var(--lightblue);
    margin-bottom: 1rem;
}

#welkom h3 {
    font-size: var(--section-subtitle);
    color: var(--darkblue);
    margin-bottom: 1rem;
}

#welkom p {
    font-size: var(--small-p);
}

#welkom p:nth-of-type(2) {
    margin-top: var(--alinea);
}

.welkom-wrapper {
    width: 40rem;
}

/* Project sectie */
#project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200vh;
}

.project-wrapper {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

#project h2 {
    font-size: var(--section-title);
    color: var(--lightblue);
    margin-top: 5rem;
}

#project article {
    border-radius: var(--extra-round-corners);
}

.project-wrapper article:nth-of-type(1){
    height: 30rem;
    width: 45rem;
    padding: 10px;
}

.waarom-card {
    background-color: #fff;
    height: 40rem;
    width: 85rem;
    text-align: center;
    padding: 100px;
    box-shadow: var(--article-shadow);
}

#project img {
    height: 30rem;
}

#project article h3 {
    font-size: var(--article-title);
    color: var(--darkblue);
    margin-bottom: 20px;
}

#project article p {
    font-size: var(--small-p);
}

#project article p{
    margin-bottom: var(--alinea);
}

/* app sectie */
#app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 110vh;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--alinea);
    width: 40rem;
}

.app-text-wrapper p{
    margin-bottom: var(--alinea);
}

#app img {
    width: 20rem;
    height: 40rem;
}

#app h2 {
    font-size: var(--section-title);
    color: var(--lightblue);
}

#app p {
    font-size: var(--small-p);
}

/*ervaringen section*/
#ervaringen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#ervaringen h2 {
    font-size: var(--section-title);
    color: var(--lightblue);
}

.review-wrapper {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#ervaringen article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 23rem;
    height: 26rem;
    padding: 3rem;
    background-color: #fff;
    border-radius: var(--sharp-corners);
    box-shadow: var(--article-shadow);
}

.review-wrapper h3 {
    font-size: var(--small-subtitle);
    color: var(--darkblue);
    margin-bottom: 10px;
}

.review-wrapper p {
    font-size: var(--smaller-font-size);
}

.review-wrapper p:nth-of-type(2) {
    border-top: 5px solid var(--green);
    text-align: right;
    margin-top: 30px;
    padding-top: 1rem;
    color: var(--darkblue);
    font-weight: 600;
}

#over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.over-wrapper {
    width: 50rem;
}

.over-wrapper h2 {
    font-size: var(--section-title);
    color: var(--lightblue);
}

.over-wrapper p {
    margin-top: 20px;
    font-size: var(--large-p);
}

.over-wrapper a {
    display: flex;
    background-color: var(--green);
    border-radius: var(--round-corners);
    font-family: var(--title-font);
    color: #fff;
    transition: var(--color-transition);
    width: 12rem;
    height: 3rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.over-wrapper a:hover {
    background: var(--darkblue);
}

/*contact section*/
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#contact h2,
#contact h3 {
    font-size: var(--article-title);
    color: var(--darkblue);
    margin-bottom: 30px;
}

#contact h4 {
    font-size: var(--article-title);
    color: var(--lightblue);
    margin-bottom: 10px;
}

#contact a {
    font-size: var(--large-p);
    color: var(--p-color);
    font-weight: 600;
    text-decoration: none;
}

/*footer*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    background-color: #fff;
}

footer a {
    text-decoration: none;
}

.footer-text-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 8rem 3rem 8rem;
}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-text a{
    font-size: var(--small-p);
    color: var(--p-color);
}

.footer-text a:nth-of-type(1) {
    color: var(--darkblue);
    font-weight: 600;
}

.footer-rights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 8rem 0 8rem;
}

.footer-rights p,
.footer-rights-links a{
    color: var(--lightgrey);
}

.footer-rights-links a:nth-of-type(1) {
    margin-right: 1rem;
}

/*scroll up button*/
.scroll-up {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 30px;
    background-color: var(--green);
    color: white;
    border-radius: var(--round-corners);
    transition: var(--color-transition);
    text-decoration: none;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    padding: 9px;
}

.scroll-up:hover {
    background-color: var(--darkblue);
}

@media  screen and (max-width: 700px) {
    nav {
        display: none;
    }

    .mobile-navbar-icon .bar
    {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        background: var(--darkblue);
        box-shadow: var(--light-shadow);
        border-radius: 3px;
    }
}

@media screen and (min-width: 1600px) {
    #project {
        height: 100vh;
    }

    #project h2 {
        margin-top: 15rem;
    }

    #app {
        height: 100vh;
    }
}