:root {
    --lightblue: #7faec5;
    --green: #4ecd5d;
    --darkblue: #384b61;
    --body-font: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: var(--body-font);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
    height: 6rem
}

.logo{
    display: flex;
    justify-content: center;
    margin: 0;
}

.logo img {
    width: 8rem;
}

/*Navbar*/
nav ul {
    display: flex;
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

nav a {
    text-decoration: none;
    color: var(--lightblue);
    transition: all 0.3s ease 0s;
    font-size: 1.6rem;
}

nav a:hover {
    color: var(--green);
}

section {
    border: 1px solid red;
    width: 100%;
    height: 45em;
}

@media  screen and (max-width: 700px) {
    nav {
        display: none;
    }

    .mobile-navbar-icon .bar
    {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        background: var(--darkblue);
        border-radius: 3px;
    }
}